/* Asegura que el fondo y contenido ocupen toda la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #121212 0%, #1e1e1e 100%);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Centrado del texto */
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px; /* Controla el ancho del contenido */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Encabezados */
h1, h2, h3 {
    color: #00bcd4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 188, 212, 0.5);
    margin-bottom: 20px;
}

/* Botones */
.button {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #4caf50;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #7AB8FF;
}

footer a:hover {
    color: #4caf50;
}
