/*
* littlelink V1
* Free to use under the MIT license.
* Built using Skeleton V2.0.4
*/

/* Reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
html, body {
    height: 100%; /* Extiende el fondo */
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #121212 0%, #1e1e1e 100%);
    font-family: "Roboto", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
}

/* Contenedor Principal */
.container {
    min-height: 100vh; /* Ocupa al menos toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: 
