/* Reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo que ocupa toda la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #121212 0%, #1e1e1e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    text-align: center;
    font-family: "Roboto", "HelveticaNeue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

/* Contenedor Principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura altura completa */
    padding: 20px;
}

/* Encabezados */
h1, h2, h3 {
    color: #00bcd4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 188, 212, 0.5);
}

h3 {
    font-size: 28px;
}

/* Párrafos */
p {
    margin-bottom: 20px;
}

/* Botones */
.button {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #4caf50;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Avatar */
.avatar {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 10px;
    font-size: 14px;
    color: #7AB8FF;
}

footer a:hover {
    color: #4caf50;
}

/* Separador */
hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #00bcd4, #4caf50);
    margin: 20px 0;
}
